img {
		width:150px;
   	height:150px;
}

#grid {
    width:100%;
   	height: 100%;
}
body{
    background-image:url(backGround.jpg);
		background-repeat: no-repeat;
  	background-attachment: fixed;
		background-size: 100% 100%;
}

#fullPage {
	width: 100%;
	height: 100%;
}

#allbtns {
	text-align: center;
	margin-top: 20px;
	background-color: transparent;
}

#pairsNumber {
	background-color: transparent;
	font-size: 30px;
	width : 150px;
	height: 75px;
	border: none;
}

#startButton {
	position:relative;
	top: 25px;
	width : 150px;
	height: 75px;

}


#solveButton {
	font-size: 30px;
	width : 180px;
	height: 75px;
}

#Timer {
	font-size: 50px;
	font-family:Brush Script MT, Brush Script Std, cursive;
	color: orange;
}

#finishScore{
	font-size: 50px;
	font-family:Brush Script MT, Brush Script Std, cursive;
	color: green;
}

#lastHighScore {
	font-size: 50px;
	font-family:Brush Script MT, Brush Script Std, cursive;
	color: blue;
}

#finishTime {
	font-size: 50px;
	font-family:Brush Script MT, Brush Script Std, cursive;
	color: orange;
}

#score {
	float:left;
	font-size: 300%;
	color :green;
}

#highScore {
	float: right;
	font-size: 300%;
	color: #087C9A;

}

p {
	font-family:impact;
}
